@import "../assets/variables", "../assets/mixins";
.courts {
  &__wrapper {
    padding: 60px 20px;
  }
  &__container {
    @include container;
    @include container-main;
  }
  &__title {
    display: flex;
    justify-content: center;
    gap: 5px;
    border-bottom: 3px solid $primary;
    border-radius: 100%;
    padding-bottom: 30px;
    letter-spacing: 3px;
    font-size: 44px;
    font-weight: 700;
    &::after {
      content: "⚖️";
    }
  }
  &__subtitle {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    font-size: 34px;
  }
}
.faq {
  margin: 20px 0;
  padding: 20px 0;
  position: relative;
  &__list {
    list-style-type: none;
  }
}
