$primary: #6c38cc;
$primary-hover: #452481;
$primary-link: #a97bff;
$secondary: #e47ad5;
$black: #16171d;
$gray-dark: #1e1f29;
$total-black: #101114;
$white: #fafafa;
$gray: #afb2bf;
$gray-light: #dad9de;
$yellow: #fdf41a;
$max-width: 1200px;
